"""Top-level package for PeakRDL cocotb_raltest."""

__author__ = ["{{author}}"]
__email__ = '{{email}}'
__version__ = '0.1.0'
from . exporter import {{project_name.split('-')|map('capitalize')|join}}Exporter
__all__ = ["{{project_name.split('-')|map('capitalize')|join}}Exporter"]
