''' Console script for {{project_name}} '''
import sys
import click
@click.command()
def main(args=None):
    '''Console script for {{project_name}}'''
    click.echo('Put your code here')
if __name__ == "__main__":
    sys.exit(main())
